<p>Hi <%= @user.email %>,</p>

<h1>Welcome to Move with me!</h1>
<p>
  You have successfully signed up to Movewithme
</p>
<p>
  To login to the site, just follow this link: <%= link_to "movewithme", root_url %>.
</p>
<p>Thanks for joining and have a great day!🌴 </p>
